#game-author {
    width: fit-content;
    margin-bottom: 1.5rem;
    transition: transform 0.1s;
    margin-top: 80px;
}

#game-author:hover {
    transform: scale(1.05);
}

#game-author, #game-author a {
    font-size: 1.2rem;
    background-color: var(--light-accent-color);
    color: var(--body-text-light);
    font-family: "Darumadrop One", "Roboto", sans-serif;
}

.game-page {
    background-color: var(--background);
    position: relative;
    width: 100%;
}

.title-container {
    padding: 0 4rem;
    height: 450px;
    display: flex;

    .description-block {
        width: 50%;
    }

    .game-intro {
        width: 100%;
        align-content: center;
        margin-top: 2rem;
    }

    .game-title-block {
        width: 35%;
        display: flex;
        margin-right: 5rem;
        flex-direction: column;
    }

    .game-title-block h1 {
        width: fit-content;
    }

    .game-title-block iframe {
        width: 100%;
        max-height: 100%;
        aspect-ratio: 16 / 9;
        margin-top: 20px;
        overflow: hidden;
    }
}

.game-heading {
    background-color: var(--dark-buttons);
    color: var(--body-text-light);
}

.game-body {
    background-color: var(--light-accent-color);
    display: flex;
    flex-direction: row;
    padding: 16px 0;

    h1, h2, p {
        color: var(--body-text-light);
    }

    .game-heading {
        background-color: var(--background);
        color: var(--dark-buttons);
    }
}

.my-role {
    padding: 0 4rem;
    width: 50%;
    margin-right: 2rem;

    h2 {
        width: fit-content;
        background-color: var(--background);
        color: var(--dark-buttons);
    }
}

.game-images {
    margin-top: 6rem;
    margin-right: 4rem;
    width: 50%;
    height: 100%;
    align-items: start;
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: right;
}

@media screen {
    @media (max-width: 768px) {
        #game-author {
            margin: 2rem 0 !important;
            height: fit-content !important;
            display: inherit !important;
            position: inherit !important;
            
            a {
                font-size: 1.2rem;
            }
        }
        

        .game-page {
            padding: 0 !important;
        }

        .title-container {
            padding: 0 1rem !important;
            height: fit-content;
            display: block;

            .description-block {
                width: 100% !important;
            }

            .game-intro {
                width: 100%;
                margin-top: 0 !important;
                p {
                    margin-bottom: 1.5rem;
                }
            }

            .game-title-block {
                width: 100%;
                margin: 0
            }

            .game-title-block h1 {
                position: inherit;
            }
        }

        .game-body {
            display: block;
        }

        .my-role {
            padding: 0 5% !important;
            width: 100%;
        }
  
        .game-images {
            text-align: center !important;
            margin-top: 1rem !important;
            width: 100%;
            display: block;
        }
    }
}