.game-page {
    position: relative;
    width: 100%;
}

.title-container {
    padding: 0 4rem;
    height: 30rem;
    display: flex;

    .game-intro {
        width: 50%;
        align-content: center;
    }

    .game-title-block {
        width: 35%;
        display: flex;
        margin-right: 5rem;
        flex-direction: column;
    }

    .game-title-block h1 {
        position: absolute;
        top: 0;
    }

    .game-title-block iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
        margin: auto 0;
    }
}

.game-heading {
    background-color: var(--body-text);
    color: var(--body-text-light);
    border-radius: 30px 30px 30px 0px;
    padding: 3px 15px;
    box-shadow: 6px 6px var(--box-shadow-dark);
}

.image-shadow {
    box-shadow: 6px 6px var(--box-shadow-dark);
}

.game-body {
    background-color: var(--navbar-color);
    display: flex;
    flex-direction: row;
    padding: 16px 0;

    h1, h2, p {
        color: var(--body-text-light);
    }
}

.my-role {
    padding: 0 4rem;
    width: 50%;
    margin-right: 2rem;

    h2 {
        width: fit-content;
        background-color: var(--background);
        color: var(--body-text);
    }
}

.game-images {
    padding: 0 4rem;
    width: 50%;
    height: 100%;
    align-items: start;
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: right;
}

@media screen {
    @media (max-width: 700px) {
        .game-page {
            padding: 0 2rem;
        }

        .title-container {
            margin-top: 80px;
            height: fit-content;
            display: block;

            .game-intro {
                width: 100%;
                p {
                    margin: 1rem 0;
                }
            }

            .game-title-block {
                width: 100%;
                margin: 0
            }

            .game-title-block h1 {
                position: inherit;
            }
        }

        .game-body {
            display: block;
        }

        .my-role {
            width: 100%;
        }
  
        .game-images {
            width: 100%;
            display: block;
        }
    }
}