.game-img, .game-gif {
    max-height: 15em;
    max-width: 100%;
    transition: transform .2s;
    object-fit: contain;
}

.game-img:hover, .game-gif:hover {
    transform: scale(1.05);
}

.active {
    display: inherit;
}
.inactive {
    display: none;
}

@media screen {
    @media (max-width: 768px) {
        .game-img, .game-gif {
            margin: 16px auto;
            margin-bottom: 0;
            max-width: 90%;
        }
    }
}