.projects-block {
    display: flex;
    flex-direction: column;
    padding: 0% 10%;
    padding-bottom: 5%;
    margin-top: 0;
    text-align: left;
    background-color: var(--light-accent-color);

    h1 {
        font-size: 4em;
    }

    p, a, h1, h2 {
        color: var(--body-text-light);
    }
}
  
.projects-block .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

@media screen {
    @media (max-width: 700px) {
        .projects-block {
            display: block;
            padding-left: 5%;
            padding-right: 5%;
        }
  
        .projects-block .projects-grid {
            display: block;
        }
    }
}