:root {
    --light-accent-color: #2D7D90;
    --link-hover-dark: #2D7D90;
    --linkt-hover-light: #FFFFFF;
    --navbar-color: #22577A;
    --dark-buttons: #22577A;
    --body-text: #0d1116;
    --background: #F6F7EB;
    --body-text-light: #F6F7EB;
    --box-shadow-dark: #000000;
    --box-shadow-light: #2D7D90;
}