footer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--footer-color);

    svg {
        width: 1.1em !important;
        height: 1.1em !important;
        color: var(--body-text-light);
        margin-right: 10px;
    }

    p {
        color: var(--body-text-light);
        font-size: 0.8em;
    }
}